
@import "background.css";
@import "movement.css";

.section.introduction ,
.section.skill ,
.section.experience ,
.section.evaluation {
    text-align: center;
    font: 50px "Microsoft Yahei";
    color: #fff;
}

/**********************导航条**********************************/
.main_content{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    border: none;
}
.navbar {
    background: rgba(0,0,0,0);
    transition: 1s all ease;
}
.navbar.blue {
    background: rgba(71, 166, 173,1);
}
.navbar.black {
    background: rgba(51, 51, 51,.7);
}

.main_content .navbar-brand,
.main_content .navbar-brand:visited,
.main_content .navbar-brand:hover
{
    color: #A7E615;
    font-size: 18px;
}
.main_content .navbar-right li a,
.main_content .navbar-right li a:visited{
    color: #ffffff;!important;
    font-weight: 500;
    text-decoration: none;
}
.main_content .navbar-right li a:hover {
    color: #ffffff;!important;
    text-decoration: none;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:visited,
.navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color:#0F698A ;
    text-decoration: none;
}
.navbar-default .navbar-toggle {
    background: none;
}
 .navbar-default .navbar-toggle:focus{
     background: none;
}
.navbar-default .navbar-toggle:hover {
    background: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}
/********************导航条End***************************************/

/********************右侧导航栏*************************************/

#fp-nav{
    top: 80%;
}

#fp-nav ul li{
    vertical-align: middle;
    margin: 10px 50px 0 ;
}
#fp-nav li .active {
    background-position: 0 bottom;
}
#fp-nav ul li a {
    display: block;
    color: #8F9DA4;
    width: 21px;
    height: 21px;
    background: url(../images/dot.png) 5px 5px no-repeat;
    /*right: 0;*/
}
#fp-nav span {
    display: none;
}


/****************************右侧导航栏End******************************/




