<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
       </button>
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right" id="menu">
			<li data-menuanchor="introduction" class="active">
				<a href="#introduction">第一项</a>
			</li>
			<li data-menuanchor="skill">
				<a href="#skill">第二项</a>
			</li>
			<li data-menuanchor="experience">
				<a href="#experience">第三项</a>
			</li>
			<li data-menuanchor="evaluation">
				<a href="#evaluation">第四项</a>
			</li>
		</ul>
	</div>
</div>